/* Having some fun with the styling - western theme, bullet holes? */

html {
    /* background-color:rgb(243, 241, 193); */
    cursor: crosshair;
    height: 1000px;
    background: linear-gradient(to right, rgb(243, 240, 158), rgb(247, 245, 199) );
    font-family: "Western";
    color: red;
    font-size: 5rem;
}

body {
    
    margin-top: 30px;
    width: max-content;
    height: max-content
    
}

#logo {
    display: flex;
    width: 100%;
    justify-content: center;
}


#addGame {
    font-family: "Western";
    align-self: center;
    color: rgb(243, 241, 193); 
    background-color: red;
    border: 1px solid transparent;
    min-width: 150px; 
    font-size: 20px;
    padding: 9px 1px 9px 1px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 250px;
}

#addGame:hover {
    background-color: rgb(216, 8, 8);
    box-shadow: 3px, 3px, 22px, 1px rgb(0, 0, 0, 0.24)
}

/* Next step to style inputs, flex along top of table. */

label {
    font-size: 50px;
}

input {
    margin: 15px 0;
    background-color: cornsilk;
    padding: 5px 0;
    font-family: "Western";
    font-size: 20px;
    border: 1px solid cornflowerblue;
    width: 250px;
    transition: width ease-out;
    transition-duration: .4s;
}

input:focus {
    width: 400px;
}


table {
    
    margin-left: 5%;
    margin-top: 50px;
    min-width: 75ch;
    font-size: 40px;
    border: 1px dashed black;
    border-spacing: 5px 10px;

}

